/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  font-family: "IBM Plex Mono", monospace;
  background-color: var(--bg-color);
  margin: auto;
  background-image: var(--bg-image-path);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: min(calc(100vw - 40px), 1024px);
  padding: 0 10px;
}

.decorated-zone {
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  position: absolute;
}

.decorated-zone::before {
  content: "";
  color: var(--decoration-color);
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  border-top: solid 1px var(--decoration-color);
  border-right: solid 1px var(--decoration-color);
}

.decorated-zone::after {
  content: "";
  color: var(--decoration-color);
  height: 25px;
  width: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: solid 1px var(--decoration-color);
  border-left: solid 1px var(--decoration-color);
}

.header {
  margin-block-end: 20px;
  height: max(668px, 100vh);
  padding: 10px;
  display: flex;
  justify-content: center;
}

.page-decoration-text {
  position: absolute;
  right: 29px;
  top: 4px;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
}

.page-decoration-text::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 7px;
  margin-inline-end: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0px 0px 4px 2px red;
}

.title {
  font-family: "IBM Plex Mono", monospace;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 0.04em 0.04em var(--accent-color);
  line-height: 83%;
  font-weight: 700;
  margin-block-start: 65px;
  margin-block-end: 55px;
}

.title-decor {
  background-color: var(--accent-color);
  color: #000;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  height: min-content;
  line-height: 23.4px;
}

.header__title-decor {
  margin-block-end: 60px;
}

.header__theme-menu-list {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  margin-top: 65px;
}

.header__theme-menu-item {
  list-style: none;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--menu-color);
  line-height: 18px;
  width: 70px;
  height: 26px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 400;
}
.header__theme-menu-button:hover {
  border: solid 1px var(--menu-color-hover);
}
.header__theme-menu-button:focus {
  border-bottom: solid 1px var(--menu-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: solid 1px var(--menu-color);
  pointer-events: none;
}

.content {
  padding: 10px 0;
}
.section {
  margin-block-start: 10px;
}

.section__title {
  color: var(--section-title-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-block-end: 20px;
}
.section__what {
  margin-block-start: 50px;
}
.section__how {
  margin-block-start: 50px;
}
.section__how h3.title-decor {
  margin-block-end: 18px;
}

.content__list__item {
  list-style: none;
}

.content__list__item:not(nth-last-of-type) {
  margin-block-end: 20px;
}

.content__list-paragraf {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  color: var(--text-color);
  margin-block-start: 10px;
}

.text-link {
  text-shadow: 0.04em 0.04em var(--accent-color);
  text-decoration: none;
}
.text-link:hover {
  border-bottom: solid 1px var(--text-color);
}
.text-link:focus {
  outline: solid 1px var(--text-color);
}

h4.title-decor {
  font-weight: 400;
}

.section__gallery {
  margin-block-start: 48px;
}

.gallery {
  height: min-content;
  margin-block-start: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
  max-inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.footer {
  height: max(668px, 100vh);
  margin-block-start: 32px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.footer__decorated-zone {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__title {
  font-family: "IBM Plex Mono", monospace;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 0.02em 0.02em var(--accent-color);
  font-weight: 700;
  line-height: 83%;
}

@media (width >= 750px) {
  .page {
    padding: 0;
  }

  .title {
    translate: -20px 0;
    margin-block-start: 174px;
  }

  .header__title-decor {
    width: 50%;
    display: flex;
    margin-block-start: 105px;
  }
  .header__decor {
    display: flex;
    justify-content: end;
  }
  .header__theme-menu-list {
    margin-block-start: 172px;
  }

  .header {
    margin-block-end: 40px;
    block-size: max(668px, 100vh);
    padding: 20px 0;
  }
  .decorated-zone {
    height: calc(100vh - 40px);
    width: min(calc(100vw - 40px), 1004px);
    position: absolute;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
  }

  .section__why .section__title {
    grid-column: 1;
  }

  .section__why .content__list {
    grid-column: span 2;
  }

  .section__what {
    margin-block-start: 60px;
  }

  .section__what .section__title {
    grid-column: 1;
  }

  .section__what .content__list {
    grid-column: span 3;
  }

  .section__how {
    margin-block-start: 58px;
  }

  .section__how .section__title {
    grid-column: 1;
  }

  .section__how .title-decor {
    margin-block-start: 3px;
    grid-column: span 2;
  }

  .section__how .content__list {
    grid-column: 2/4;
  }

  .section__gallery {
    margin-block-start: 60px;
    margin-block-end: 17px;
  }

  .section__gallery .title-decor {
    grid-column: span 3;
    margin-block-end: 20px;
  }

  .gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
  }

  .gallery__image-sunset {
    grid-row: 1;
    grid-column: span 2;
  }

  .gallery__image-iceream {
    grid-row: span 2;
    grid-column: 3;
  }

  .gallery__image-tape {
    grid-row: span 2;
    grid-column: 1;
  }

  .gallery__image-books {
    grid-row: 2;
    grid-column: 2;
  }

  .gallery__image-street {
    grid-row: 3;
    grid-column: 2/4;
  }
  .footer {
    padding: 20px;
    height: max(668px, 100vh);
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1000px) {
  .title {
    margin-block-start: 272px;
  }
  .header__title-decor {
    margin-block-start: 60px;
  }
  .section {
    column-gap: 20px;
  }

  .section__what .section__title {
    grid-column: 1;
  }

  .section__what .content__list {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
  }
}



