/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image-path: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --title-color: #DB00FF;
  --menu-color: #FF0070;
  --decoration-color: #FF0070;
  --section-title-color: #FF0070;
  --menu-color-hover: #FF007066;
}